<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475193088114-h9l6hndmkf1papcq7v0d9uf7ajsa8d96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475193088114-h9l6hndmkf1papcq7v0d9uf7ajsa8d96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475193088114-btp421nq65s13r7sit3ih3d8p2qks8dm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzUBTp3fXZiYMLwlzjlpsvZe3xwto1QjA</string>
	<key>GCM_SENDER_ID</key>
	<string>475193088114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.golski.spellsAndTools.dev</string>
	<key>PROJECT_ID</key>
	<string>spell-and-tools-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>spell-and-tools-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475193088114:ios:bf8db248343bfa035d4aeb</string>
</dict>
</plist>